[Unit]
After=media-filesystem.mount
After=media-rack.lower.mount
After=media-region.lower.mount

[Mount]
What=overlay
Where=/media/region
Type=overlay
Options=lowerdir=/media/region.lower:/media/rack.lower:/media/filesystem
