[Unit]
Description=Subiquity, the installer for Ubuntu Server %I
BindsTo=dev-%i.device
After=dev-%i.device systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service
ConditionPathExists=!/run/subiquity/complete
StartLimitInterval=0

[Service]
Environment=SNAP_REEXEC=0
ExecStartPre=/bin/systemctl stop serial-getty@%I
ExecStart=/usr/bin/snap run subiquity.subiquity-service %I
ExecStopPost=/bin/systemctl start serial-getty@%I
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
