Source: livecd-rootfs
Section: devel
Priority: optional
Build-Depends: sudo, debootstrap, rsync, cloop-utils, debhelper, python-minimal|python
Maintainer: LaMont Jones <lamont@canonical.com>
Standards-Version: 3.6.1.0

Package: livecd-rootfs
Architecture: all
Depends: sudo, debootstrap, rsync, cloop-utils, python-minimal|python
Description: construction script for the livecd rootfs
 livecd-rootfs provides the script used to create the root filesystem
 on the livecd.
